@require '../../layouts/variables.styl'

aside
  background-color: $tertiary-grey
  border: 5px solid $primary-red
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  bottom: 0
  margin-left: $default-padding
  padding: 0.2em
  position: fixed
  right: $default-padding

  table
    &.minimized
      tbody
      tfoot
        display: none
    thead
    tfoot
      button
        color: $white
        text-bold()

    td
    th
      padding: 0.2em 0

    button
      padding: 0 0.2em
