@require '../../layouts/variables.styl'

aside
  background-color: $tertiary-grey
  border: 5px solid $primary-red
  border-radius: 5px
  bottom: 0
  margin-left: $default-padding
  padding: 0.2em
  position: fixed
  right: $default-padding

  header
  footer
    button
      color: $white
      text-bold()

  header
    color: $black
    font-size: 1.4em

    button
      margin-left: $default-padding
      padding: 0 0.2em
