@require '../../layouts/variables.styl'
@require '../../layouts/mixins.styl'

aside
  bottom: 0
  margin-left: $default-padding
  max-height: calc(100% - 1em)
  overflow-y: auto
  position: fixed
  right: $default-padding

  table
    &.minimized
      > :not(thead)
        display: none

    thead
      background-color: $white
      color: $primary-red
      button
        font-size: 1.25em
        font-weight: normal
        padding: 0.5em 0.5em
        width: 100%
        :first-child
          padding-right: 1em

    tfoot
      background-color: $secondary-red
      color: $white
      td
        padding-bottom: 0.2em
        padding-top: 0.2em

    button
      padding: 0 0.2em

    @require '../betsSelected/betsSelected.styl'
