@require '../../layouts/variables.styl'
@require '../../layouts/mixins.styl'

ol
  li
    pad-inline $default-padding
    pad-block 0.5em
    &:hover
      background-color: $secondary-grey
    &:first-child
      pad-block-st $default-padding
    &:last-child
      pad-block-end $default-padding
    span
      pad-inline 0.25em
      &:first-child
        color: $primary-red
        pad-inline-st 0
      &:not(:first-child)
        &::before
          content: "-"
          font-weight: 500
          pad-inline-end 0.5em
