@require 'mixins'

.bets-table
  pad-lr(1em)
  th
    font-weight normal

button
  background $grey_brighter;
  color $red_brighter
  font-family inherit
  font-size inherit
  font-weight bold
  letter-spacing 1px;
  line-height 1.6
  border 0
  min-width 4em
  pad(0)
  cursor pointer
  outline($red, 2px)
  &:active
    background-color #FFF
