@require 'mixins'

absolute()
  position absolute

hidden()
  display none

inline()
  display inline-block

relative()
  position relative


.countries-list
  absolute()
  hidden()

.country-item
.sport-item
  pad-lr(1em)
  unstyled()
  &:hover
    ol
      display block

.sport-item
  inline()
  relative()

.countries-list
  pad-left(0)

.sports-list
  pad-left(0)

.nowrap
  white-space nowrap
