absolute()
  position absolute

hidden()
  display none

inline()
  display inline-block

pad-lr(value)
  padding-left value
  padding-right value

pad-left(value)
  padding-left value

relative()
  position relative

unstyled()
  list-style none


.countries-list
  absolute()
  hidden()

.country-item
.sport-item
  pad-lr(1em)
  unstyled()
  &:hover
    ol
      display block

.sport-item
  inline()
  relative()

.countries-list
  pad-left(0)

.sports-list
  pad-left(0)

.nowrap
  white-space nowrap
