@require 'mixins'

absolute()
  position absolute

hidden()
  display none

inline()
  display inline-block

relative()
  position relative

nowrap()
  white-space nowrap


.countries-list
  absolute()
  hidden()

.country-item
.sport-item
  unstyled()
  &:hover
    > h3 .nav-link
      background-color $red

.sport-item
  inline()
  relative()
  &:hover
    .countries-list
      display block

.countries-list
  black-background()
  pad-left(0)

.sports-list
  black-background()
  pad-left(0)
  margin 0

.nav-link
  display block
  color #FFF
  text-decoration none
  pad(1em)
  nowrap()
  &.active
    background-color $red_brighter
  outline($red, 2px)

.no-margin
  margin 0
