$primary-grey = #E8E8E8
$secondary-grey = $primary-grey - #0F0F0F
$tertiary-grey = $secondary-grey - #0F0F0F

pad-inline-st(n)
  padding-inline-start: n
  padding-left: n

pad-inline-end(n)
  padding-inline-end: n
  padding-right: n

pad-block-st(n)
  padding-block-start: n
  padding-top: n

pad-block-end(n)
  padding-block-end: n
  padding-bottom: n

pad-inline(n)
  pad-inline-st n
  pad-inline-end n

pad-block(n)
  pad-block-st n
  pad-block-end n

main
  background-color: $primary-grey
  ol
    li
      pad-inline 1em
      pad-block 0.5em
      &:hover
        background-color: $secondary-grey
      ol li
        pad-block 0.25em
        &:hover
          background-color: $tertiary-grey

main
  > ol
    > li
      &:first-child
        pad-block-st 1em
      &:last-child
        pad-block-end 1em
