@import '../../layouts/variables.styl'
@import '../../layouts/mixins.styl'

main
  ol
    li
      pad-inline $default-padding
      pad-block 0.5em
      &:hover
        background-color: $secondary-grey
      ol li
        pad-block 0.25em
        &:hover
          background-color: $tertiary-grey
        span
          &:first-child
            padding-right: 0.5em
          &:not(:first-child)
            color: $primary-red
            font-weight: 700
main
  > ol
    > li
      &:first-child
        pad-block-st $default-padding
      &:last-child
        pad-block-end $default-padding
