main
  ol, ul
    padding-inline-start: 1em
    padding-left: 1em
    li
      padding-block-start: 1em
      padding-top: 1em
      ol li
        padding-block-start: 0.5em
        padding-top: 0.5em
