@import '{}/node_modules/normalize-stylus/normalize.styl'

@import './mixins.styl'
@import './variables.styl'

*
  font-family: Arial, Helvetica, sans-serif

body
  background-color: $primary-grey

button
  background-color: transparent
  border: 0
  color: inherit
  cursor: pointer
  font-weight: inherit
  outline: 0
  padding: 0

ol
  list-style: none
  marg-block 0
  marg-inline 0
  pad-inline 0
  pad-block 0

p
  marg-block 0
  marg-inline 0

table
  border-spacing: 0
  td
    padding: 0

.bold
  text-bold()

.rotate-180
  transform: rotate(180deg)

.to-left
  float: left

.to-right
  float: right

@import '../components/header/header.styl'
@import '../components/main/main.styl'
@import '../components/betsSelectedBox/betsSelectedBox.styl'
