@import './mixins.styl'
@import './variables.styl'

* 
  font-family: Arial, Helvetica, sans-serif

body
  background-color: $primary-grey

ol
  list-style: none
  marg-block 0
  marg-inline 0
  pad-inline 0
  pad-block 0

p
  marg-block 0
  marg-inline 0

.to-left
  float: left

.to-right
  float: right

@import '../components/header/header.styl'
@import '../components/main/main.styl'
