inline-block()
  display: inline-block

pad-inline-st(n)
  padding-left: n
  padding-inline-start: n

pad-inline-end(n)
  padding-right: n
  padding-inline-end: n

pad-block-st(n)
  padding-top: n
  padding-block-start: n

pad-block-end(n)
  padding-bottom: n
  padding-block-end: n

pad-inline(n)
  pad-inline-st n
  pad-inline-end n

pad-block(n)
  pad-block-st n
  pad-block-end n

marg-inline(n)
  margin-inline-start: n
  margin-inline-end: n

marg-block(n)
  margin-block-start: n
  margin-block-end: n

text-bold()
  font-weight: 700
