$primary-red = #EF3E45
$secondary-red = #D4373E

$primary-grey = #E8E8E8
$secondary-grey = $primary-grey - #0F0F0F
$tertiary-grey = $secondary-grey - #0F0F0F

$black = #000
$white = #FFF

$default-padding = 1em
