@import '../../layouts/variables.styl'

header
  position: sticky
  text-bold()
  top: $default-padding * -1

nav
  background-color: $black
  color: $white
  padding-top: $default-padding
  a:not(.default)
    color: inherit
    inline-block()
    outline: none
    padding: $default-padding
    text-decoration: none
    &.active
      background-color: $primary-red

    &:active
    &:hover
    &:focus
      background-color: $secondary-red

  ol
    background-color: $black
    white-space: normal
    &.no-overflow-x
      overflow-x: hidden
      white-space: nowrap
    li
      inline-block()
      ol
        left: 3em
        position: absolute
        right: 3em
        text-align: center

  button
    background-color: inherit
    border: none
    color: inherit
    cursor: pointer
    font-size: 2em
    inline-block()
    line-height: 1.575em
    padding: 0 0.5em
    outline: none
    &:hover
      background-color: $white
      color: $black

.hide-children
  ol
    display: none
  &:hover ol
      display: block
