header
  position: sticky
  top: 0

nav
  a
    color: #FFF
    display: inline-block
    padding: 1em
    text-decoration: none
    &.active
      background-color: #EF3E45

    &:active
    &:hover
    &:focus
      background-color: #D4373E

  ol
  ul
    background-color: #000
    display: block
    li
      display: inline-block
      ol
        padding-left: 0
        position: absolute

.hide-children
  ol
    display: none
  &:hover ol
      display: block
