$default-padding = 1em
$primary-red = #EF3E45
$secondary-red = #D4373E
$black = #000
$white = #FFF

header
  position: sticky
  top: $default-padding * -1

nav
  background-color: $black
  color: $white
  padding-top: $default-padding
  a:not(.default)
    color: inherit
    display: inline-block
    outline: 0
    padding: $default-padding
    text-decoration: none
    &.active
      background-color: $primary-red

    &:active
    &:hover
    &:focus
      background-color: $secondary-red

  ol
  ul
    background-color: $black
    margin-block-end: 0
    margin-block-start: 0
    li
      display: inline-block
      ol
        padding-left: 0
        position: absolute

.hide-children
  ol
    display: none
  &:hover ol
      display: block
