@require 'mixins'

.load-more-link
  display block
  margin 1em

  background $grey_brighter
  color $red

  font-size 1.2em
  font-weight bold
  line-height 2.5
  text-align center
  text-decoration none

  border 5px solid

  &:hover
    color $red_brighter

    text-decoration underline
